virtual_ip = "{{ virtual_service_ip.split('/')[0] }}"
interface = "{{ ingress_if }}"
keepalive_listen = "239.0.0.1"
keepalive_address = "{{ keepalive_ip.split('/')[0] }}"
service_ips = {{ ingress_ips | to_json }}
